.u-section-1 .u-sheet-1 {
  min-height: 362px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 563px;
}

.u-section-2 .u-list-1 {
  margin: 0 0 39px;
}

.u-section-2 .u-repeater-1 {
  min-height: 524px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 20px 253px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px 253px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px 253px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 345px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 253px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 309px;
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-image-1 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-2 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-3 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 53px;
  }

  .u-section-2 .u-image-4 {
    height: 277px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 446px;
    margin-left: initial;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-1 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-2 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-3 {
    height: 351px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-2 .u-image-4 {
    height: 351px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 239px;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 239px;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 617px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 21px auto 0;
}

.u-section-3 .u-image-1 {
  width: 549px;
  height: 473px;
  margin: 21px auto 49px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: 474px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 466px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 782px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 293px;
  }
}