.u-section-1 .u-sheet-1 {
  min-height: 362px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 563px;
}

.u-section-2 .u-list-1 {
  margin: 0 0 39px;
}

.u-section-2 .u-repeater-1 {
  min-height: 2650px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-4 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-6 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-8 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-image-5 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-10 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-2 .u-image-6 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-12 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-2 .u-image-7 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-14 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-2 .u-image-8 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-16 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-2 .u-image-9 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-18 {
  margin: 27px 30px 0;
}

.u-section-2 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-2 .u-image-10 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-2 .u-text-20 {
  margin: 27px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 2188px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-5 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-6 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-7 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-8 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-9 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-10 {
    height: 246px;
    width: 440px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-9 {
    height: 190px;
    width: 340px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-2 .u-image-10 {
    height: 190px;
    width: 340px;
  }
}