.u-section-1 .u-sheet-1 {
  min-height: 362px;
}

.u-section-1 .u-text-1 {
  margin: 0 0 30px;
}.u-section-2 .u-sheet-1 {
  min-height: 577px;
}

.u-section-2 .u-text-1 {
  margin: 16px 555px 0 94px;
}

.u-section-2 .u-text-2 {
  margin: -64px 112px 0 585px;
}

.u-section-2 .u-gallery-1 {
  height: 425px;
  width: 894px;
  margin: 25px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 510px;
    margin-right: 449px;
    margin-left: 40px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -343px;
    margin-right: 12px;
    margin-left: 485px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 274px;
    margin-bottom: -468px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1521px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1938px;
    margin-right: 229px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1299px;
    margin-right: 0;
    margin-left: 277px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1369px;
    width: 720px;
    margin-top: 1230px;
    margin-bottom: -1896px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1587px;
    margin-right: 49px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1133px;
    margin-left: 97px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1027px;
    width: 540px;
    margin-top: 1037px;
    margin-bottom: -1519px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 997px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -733px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 647px;
    width: 340px;
    margin-top: 637px;
    margin-bottom: -929px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 104px;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 20px 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 563px;
}

.u-section-4 .u-list-1 {
  margin: 0 0 39px;
}

.u-section-4 .u-repeater-1 {
  min-height: 2650px;
  grid-template-columns: repeat(2, calc(50% - 5px));
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-4 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-6 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-4 .u-image-4 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-8 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-4 .u-image-5 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-9 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-10 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-4 .u-image-6 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-12 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-4 .u-image-7 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-14 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-4 .u-image-8 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-16 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-4 .u-image-9 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-17 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-18 {
  margin: 27px 30px 0;
}

.u-section-4 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-4 .u-image-10 {
  height: 318px;
  width: 555px;
  margin: 0 auto;
}

.u-section-4 .u-text-19 {
  font-weight: 700;
  margin: 13px 30px 0;
}

.u-section-4 .u-text-20 {
  margin: 27px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-gap: 10px 10px;
    min-height: 2185px;
  }

  .u-section-4 .u-image-1 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-8 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-9 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-10 {
    height: 246px;
    width: 440px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 40px;
    padding-left: 30px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 40px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-5 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-6 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-7 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-8 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-9 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-9 {
    height: 190px;
    width: 340px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-4 .u-image-10 {
    height: 190px;
    width: 340px;
  }
}