.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 20px;
}

.u-section-1 .u-text-2 {
  margin: 0 0 60px 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 561px;
}

.u-section-2 .u-text-1 {
  margin: 20px -40px 0 40px;
}

.u-section-2 .u-gallery-1 {
  height: 425px;
  width: 957px;
  margin: 20px auto 32px 40px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 20px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 266px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 417px;
    margin-bottom: 36px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 432px;
  }

  .u-section-2 .u-gallery-1 {
    height: 958px;
    margin-bottom: -130px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2292px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 787px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2156px;
    margin-top: -12px;
    margin-bottom: -485px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1493px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 542px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1357px;
    margin-bottom: -240px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 550px;
}

.u-section-3 .u-text-1 {
  margin: 21px 0 0 40px;
}

.u-section-3 .u-gallery-1 {
  height: 425px;
  width: 638px;
  margin: 20px auto 21px 40px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
  --gap: 20px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 339px;
  }

  .u-section-3 .u-gallery-1 {
    margin-bottom: -253px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1825px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1295px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1700px;
    margin-bottom: -1209px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1564px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1102px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 1439px;
    width: 540px;
    margin-top: -6px;
    margin-bottom: -1016px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 702px;
  }

  .u-section-3 .u-gallery-1 {
    height: 906px;
    width: 340px;
    margin-bottom: -616px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 547px;
}

.u-section-4 .u-text-1 {
  margin: 19px 0 0 40px;
}

.u-section-4 .u-gallery-1 {
  height: 425px;
  width: 319px;
  margin: 20px auto 19px 40px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(1, auto);
  --gap: 0px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 423px;
  }

  .u-section-4 .u-gallery-1 {
    margin-bottom: -337px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 405px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: -6px;
    margin-bottom: -319px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 381px;
    margin-left: 21px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: -31px;
    margin-bottom: -295px;
  }
}