.u-section-1 .u-sheet-1 {
  min-height: 612px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-rotation-parent-1 {
  animation-timing-function: ease;
  width: 446px;
  height: 452px;
  margin: 0 auto 0 80px;
}

.u-section-1 .u-image-1 {
  width: 452px;
  height: 446px;
  transform-origin: center center;
  object-position: 50% 50%;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.u-section-1 .u-text-2 {
  margin: -411px 80px 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin: 37px auto 0 446px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 230px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 88px;
    margin-left: 315px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
    height: 345px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 345px;
    height: 340px;
    margin-top: 114px;
    margin-left: 115px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -304px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 440px;
}

.u-section-2 .u-text-1 {
  margin: 45px 538px 60px 112px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 438px;
    margin-left: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 230px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 392px;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 60px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}