 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 112px auto 0 28px;
}

.u-section-1 .u-image-1 {
  width: 375px;
  height: 300px;
  margin: -53px auto 0 691px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -82px auto 0 752px;
}

.u-section-1 .u-line-1 {
  transform-origin: left center 0px;
  width: 246px;
  margin: -239px auto 0 28px;
}

.u-section-1 .u-image-2 {
  width: 496px;
  height: 118px;
  margin: 30px auto 0 74px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 9px auto 0 159px;
}

.u-section-1 .u-image-3 {
  width: 200px;
  height: 200px;
  margin: 69px auto 0 212px;
}

.u-section-1 .u-image-4 {
  width: 225px;
  height: 225px;
  margin: -195px auto 0 754px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -25px auto 0 773px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -77px auto 30px 138px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 203px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-left: 543px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 598px;
  }

  .u-section-1 .u-line-1 {
    height: 5px;
    margin-top: -218px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -17px;
    margin-left: 37px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 122px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 88px;
    margin-left: 197px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -176px;
    margin-right: 115px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -20px;
    margin-left: 620px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -101px;
    margin-left: 123px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -29px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -92px;
    margin-right: 222px;
    margin-left: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: -20px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 50px;
    margin-right: 77px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 191px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: 40px;
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 112px;
    margin-right: 224px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -18px;
    margin-right: 245px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -376px;
    margin-right: 163px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-left: 165px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 167px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 143px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 183px;
  }

  .u-section-1 .u-text-5 {
    margin-bottom: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-1 .u-image-1 {
    height: 272px;
    margin-top: 233px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -77px;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: -205px;
  }

  .u-section-1 .u-image-2 {
    height: 81px;
    margin-top: -253px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 332px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 106px;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: -10px;
    margin-right: auto;
    margin-left: 76px;
  }

  .u-section-1 .u-text-5 {
    margin: -390px 0 -37px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 305px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 18px auto 0 21px;
}

.u-section-2 .u-line-1 {
  transform-origin: left center 0px;
  width: 223px;
  margin: 3px auto 0 21px;
}

.u-section-2 .u-image-1 {
  width: 503px;
  height: 135px;
  margin: 21px auto 0 39px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 48px;
}

.u-section-2 .u-line-2 {
  transform-origin: left center 0px;
  width: 223px;
  height: 5px;
  margin: 0 auto 34px 21px;
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 261px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 91px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 797px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 18px auto 0 19px;
}

.u-section-3 .u-image-1 {
  width: 491px;
  height: 223px;
  margin: 2px 19px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 426px;
  height: 204px;
  margin: -186px auto 0 64px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  width: 295px;
  margin: -241px auto 0 19px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 236px 73px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -53px auto 0 104px;
}

.u-section-3 .u-image-3 {
  width: 405px;
  height: 261px;
  margin: 64px auto 0 64px;
}

.u-section-3 .u-image-4 {
  width: 530px;
  height: 128px;
  margin: -159px 19px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 39px auto 0 51px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -58px 143px 40px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 196px;
    margin-left: 31px;
  }

  .u-section-3 .u-image-1 {
    margin-right: -21px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -192px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 96px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -101px;
    margin-right: 42px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 51px;
    margin-left: 41px;
  }

  .u-section-3 .u-image-4 {
    width: 416px;
    height: 101px;
    margin-top: -76px;
    margin-right: auto;
    margin-left: 486px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 38px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: auto;
    margin-bottom: -156px;
    margin-left: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-right: 84px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 78px;
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 245px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -532px;
    margin-right: 146px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 229px;
    margin-right: 174px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    margin-top: 2px;
    margin-right: 144px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    margin-top: 152px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: -239px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 180px;
    margin-left: auto;
    margin-bottom: -316px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-right: 49px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 114px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 414px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -701px;
    margin-left: 429px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 24px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 135px;
  }

  .u-section-3 .u-text-4 {
    margin-left: -4px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 439px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 32px;
    margin-right: 31px;
  }

  .u-section-3 .u-image-1 {
    height: 154px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 163px;
    margin-top: 101px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: 227px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -477px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 99px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 219px;
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 340px;
    height: 83px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -221px;
    margin-left: -24px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 153px;
    margin-bottom: -292px;
    margin-left: 58px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 39px auto 0 28px;
}

.u-section-4 .u-line-1 {
  transform-origin: left center 0px;
  width: 516px;
  margin: 10px auto 0 28px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 23px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 25% 25% 25% 25%;
  min-height: 789px;
  grid-gap: 0px 0px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-1 {
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-3 {
  margin: 9px 8px 0;
}

.u-section-4 .u-list-item-2 {
  background-position: 50% 51.75%;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-2 {
  object-position: 50% 40.49%;
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-5 {
  margin: 9px 8px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-3 {
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-7 {
  margin: 9px 8px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-4 {
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-9 {
  margin: 9px 8px 0;
}

.u-section-4 .u-list-item-5 {
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-5 {
  height: 255px;
  object-position: 50% 0%;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-11 {
  margin: 9px 8px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-6 {
  height: 255px;
  width: 259px;
  object-position: 48.7% 50%;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-12 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-13 {
  margin: 9px 8px 0;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-7 {
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
  object-position: 65.65% 50%;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-15 {
  margin: 9px 8px 0;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 13px 0;
}

.u-section-4 .u-image-8 {
  height: 255px;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  animation-timing-function: ease;
}

.u-section-4 .u-text-16 {
  font-size: 1.5rem;
  margin: 6px 4px 0;
}

.u-section-4 .u-text-17 {
  margin: 9px 8px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 38px auto 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-top: 85px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -52px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 650px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    object-position: 50% 51.75%;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -32px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-line-1 {
    margin-top: 1159px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -1126px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1991px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -901px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-line-1 {
    margin-top: 2037px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -2004px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
    margin-top: 2218px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -2185px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1244px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 42px auto 0 37px;
}

.u-section-5 .u-line-1 {
  transform-origin: left center 0px;
  width: 181px;
  margin: 3px auto 0 37px;
}

.u-section-5 .u-image-1 {
  width: 844px;
  height: 1072px;
  margin: 29px auto 42px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 915px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 686px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 604px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 432px;
  }
}