 .u-section-1 {
  background-image: url('images/IMG_7771.JPEG'), linear-gradient(to bottom, rgba(153, 153, 153, 1), rgba(153, 153, 153, 1));
  background-position: 50% 3.7%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-group-1 {
  width: 598px;
  min-height: 382px;
  height: auto;
  margin: 106px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 18px 20px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 13px 10px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 347px;
  height: auto;
  --radius: 12px;
  min-height: 68px;
  margin: -68px 20px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 12px;
  padding-right: 12px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 362px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 57px;
    margin-right: auto;
    margin-bottom: 39px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    min-height: 385px;
    margin-top: 66px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 895px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
  margin: 19px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 659px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-list-item-1 {
  --radius: 12px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-2 .u-image-1 {
  height: 345px;
  object-position: 65.87% 50%;
  --top-left-radius: 8px;
  --top-right-radius: 8px;
  margin: 0 1px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 18px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 11px 16px 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-style: solid solid double;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 12px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-2 .u-image-2 {
  height: 345px;
  object-position: 50% 93.35%;
  --top-left-radius: 8px;
  --top-right-radius: 8px;
  margin: 0 1px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 18px 20px 0;
}

.u-section-2 .u-text-5 {
  margin: 11px 16px 0;
}

.u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-style: solid solid double;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 12px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-2 .u-image-3 {
  height: 345px;
  object-position: 50% 47.96%;
  --top-left-radius: 8px;
  --top-right-radius: 8px;
  margin: 0 1px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 600;
  margin: 18px 20px 0;
}

.u-section-2 .u-text-7 {
  margin: 11px 16px 0;
}

.u-section-2 .u-btn-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-style: solid solid double;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 12px;
  font-size: 1.875rem;
  background-image: none;
  margin: 34px auto 49px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 7.33333px));
    --gap: 11px;
    grid-auto-columns: calc(33.3333% - 7.33333px);
    min-height: 647px;
  }

  .u-section-2 .u-image-1 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.4999975px));
    grid-gap: 0px;
    grid-auto-columns: calc(50% - 5.4999975px);
    min-height: 1487px;
  }

  .u-section-2 .u-image-1 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-image-1 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 464px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 292px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 93px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-style: italic;
  font-weight: 600;
  margin: 14px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 34px;
    margin-bottom: 34px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 451px;
}

.u-section-4 .u-gallery-1 {
  height: 373px;
  width: 406px;
  margin: 39px auto 0 72px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-9 {
  margin-right: 0;
  margin-top: 0;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
  padding: 4px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: -338px 216px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 503px;
  height: 135px;
  margin: 4px auto 0 570px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 4px 74px 60px 571px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 95px;
    margin-left: 36px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -382px;
    margin-right: 161px;
  }

  .u-section-4 .u-image-1 {
    width: 385px;
    height: 103px;
    margin-top: 36px;
    margin-right: 74px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: 36px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 63px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 412px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 181px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 322px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 39px;
    margin-left: 50px;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 74px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -6px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 26px;
    margin-left: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 193px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-4 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 48px;
  }

  .u-section-4 .u-image-1 {
    height: 91px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin: 28px auto 28px 45px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 941px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 17px 447px 0 446px;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 175px;
  margin: 6px auto 0 572px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -31px 230px 0 752px;
}

.u-section-5 .u-image-2 {
  width: 468px;
  height: 73px;
  margin: -166px auto 0 59px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 17px 767px 0 219px;
}

.u-section-5 .u-image-3 {
  width: 375px;
  height: 300px;
  margin: 12px auto 0 106px;
}

.u-section-5 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -78px 749px 0 163px;
}

.u-section-5 .u-image-4 {
  width: 200px;
  height: 200px;
  margin: -278px auto 0 735px;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 6px 134px 0 658px;
}

.u-section-5 .u-image-5 {
  width: 225px;
  height: 225px;
  margin: 7px auto 0 721px;
}

.u-section-5 .u-text-6 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -26px 213px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 297px;
  height: 174px;
  margin: -251px auto 0 148px;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: 0 659px 39px 110px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1498px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    margin-top: 219px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -426px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: 249px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 317px;
    margin-left: 196px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 470px;
    margin-left: auto;
  }

  .u-section-5 .u-image-5 {
    margin-top: -274px;
    margin-left: 580px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -30px;
    margin-right: 146px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -584px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin: 6px auto 60px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -190px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 360px;
  }

  .u-section-5 .u-image-5 {
    margin-left: 495px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -407px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1793px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 166px;
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -23px;
    margin-right: 214px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 28px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 7px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -79px;
    margin-right: 144px;
  }

  .u-section-5 .u-image-4 {
    margin-top: 33px;
    margin-right: 144px;
    margin-left: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 12px;
    margin-right: 70px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 315px;
    margin-right: 122px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 0;
    margin-right: 151px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -572px;
    margin-right: 103px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 16px;
    margin-right: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1673px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-5 .u-image-1 {
    height: 105px;
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 53px;
    margin-top: 39px;
  }

  .u-section-5 .u-image-3 {
    height: 272px;
    margin-top: -23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: -39px;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    margin-top: 282px;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: -35px;
    margin-right: auto;
  }

  .u-section-5 .u-image-6 {
    margin-top: -533px;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 607px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-6 .u-image-1 {
  width: 190px;
  height: 123px;
  margin: 18px auto 0 278px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -91px 221px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 208px;
  height: 100px;
  margin: 64px auto 0 260px;
}

.u-section-6 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -81px 307px 0 486px;
}

.u-section-6 .u-image-3 {
  width: 215px;
  height: 98px;
  margin: 57px auto 0 253px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -68px 283px 0 auto;
}

.u-section-6 .u-image-4 {
  width: 269px;
  height: 65px;
  margin: 51px auto 0 199px;
}

.u-section-6 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.22;
  margin: -62px 433px 40px 482px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 37px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 46px;
    margin-left: 51px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 33px;
    margin-left: 33px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-6 .u-image-3 {
    width: 266px;
    height: 121px;
    margin-top: -386px;
    margin-left: 538px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 538px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 68px;
    margin-left: 549px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin: 14px auto 22px 546px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 220px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 29px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 17px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 29px;
  }

  .u-section-6 .u-image-3 {
    margin-left: 438px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 396px;
  }

  .u-section-6 .u-image-4 {
    margin-left: 435px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 72px;
    margin-left: 152px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 11px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 72px;
    margin-right: 151px;
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 18px;
    margin-right: 87px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: 51px;
    margin-right: 148px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 18px;
    margin-right: 71px;
    margin-left: 297px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 54px;
    margin-right: 121px;
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
    margin-right: 199px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 49px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    margin-top: 75px;
    margin-right: auto;
    margin-left: 43px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 15px;
    margin-right: auto;
    margin-left: 44px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 67px;
    margin-right: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 9px;
    margin-right: auto;
    margin-left: 18px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 63px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 57px;
}

.u-section-7 .u-image-1 {
  width: 151px;
  height: 39px;
  margin: 9px auto;
}